.my-account-wrapper .account-control .account-dropdown-form {
    position: absolute;
    top: 40px;
    right: 0;
    min-width: 10.8rem;
    min-height: 100px;
    padding: 15px 0;
    padding-top: 36px;
    padding-bottom: 0;
    z-index: 99999;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transform: translateY(30px);
    -webkit-border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    border-radius: 5px !important;
}

@media only screen and (max-width: 1199px) {
    .my-account-wrapper .account-control .account-dropdown-form {
        top: 33px;
    }
}

.my-account-wrapper .account-control .account-dropdown-form:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 18px;
    bottom: 0;
    content: "";
    z-index: -1;
    display: block;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.my-account-wrapper .account-control .account-dropdown-form .form-content {
    padding: 5px 0;
    padding-top: 8px;
    background: #21222D;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.my-account-wrapper .account-control .account-dropdown-form .form-content a {
    padding: 8px 24px;
    color: #7e7e7e;
    display: inherit;
    margin-left: 5px;
    margin-right: 5px;
}

.my-account-wrapper .account-control .account-dropdown-form .form-content a:hover {
    background-color: #171821;
    border-radius: 10px;
}

.my-account-wrapper .account-control .account-dropdown-form .form-content a:hover span {
    background: -webkit-linear-gradient(30deg, #9182cc 20%, #DCBCC9 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.my-account-wrapper .account-control .account-dropdown-form .form-content a:hover i:before {
    background: -webkit-linear-gradient(30deg, #9182cc 20%, #DCBCC9 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.my-account-wrapper .account-control .account-dropdown-form .form-content a:first-child {
    border: none;
}

.my-account-wrapper .account-control .account-dropdown-form .form-content a:first-child {
    border: none;
}

.my-account-wrapper .account-control .account-dropdown-form .form-content a i:before {
    margin-right: 10px;
    color: #84868C;
}

.my-account-wrapper .account-control .account-dropdown-form .form-content a span {
    color: #84868C;
}

.my-account-wrapper .account-control:hover .account-dropdown-form {
    visibility: visible;
    opacity: 1;
    display: inherit;
    transform: translateY(0px);
}

.db-welcome h6 {
    background-color: #21222D;
    padding: 10px 20px;
    border-radius: 20px;
    color: #b5b5b5;
    font-size: 12px;
}

/******************** 
PROFILE
*********************/
.db-profile-icon a i {
    background-color: #171821;
    padding: 15px;
    margin: 3px;
    border-radius: 50%;
}

.db-profile-icon a span {
    opacity: 0;
}

.db-profile-icon a:hover span {
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
}

.timeline li,
.timeline li:first-child {
    padding: 0 10px;
    text-align: left;
    background-color: transparent;
}

.timeline li:first-child h6 {
    font-size: 16px;
    padding: 0 10px 20px 10px;
    font-weight: 700;
}

.timeline .timeline-panel {
    display: flex;
    align-items: center;
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 20px;
    margin-bottom: 0;
    text-align: left;
    border-radius: 15px;
}

.timeline .timeline-panel:hover {
    background: unset;
}

.timeline .timeline-panel:hover .media-body h5 {
    color: #d0d0d0;
}

.timeline .timeline-panel .media img {
    width: 20px;
}

.timeline .timeline-panel .media-body h5 {
    font-size: 14px;
    font-weight: 400;
    color: #84868C;
}