/************************** 
* library files
***************************/

@import url("../../plugins/bootstrap/css/bootstrap.min.css");
@import url("../../plugins/daterangepicker/daterangepicker.css");
@import url("../../plugins/datatables/css/dataTables.bootstrap.min.css");

/************************** 
* Fonts Icon
***************************/

@import url("./../../fonts/fontawesome/css/all.min.css");
@import url("./../../fonts/simple-line-icons/css/simple-line-icons.css");

/************************** 
* Import fonts
***************************/

@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');